[user]
	name = Amanda Sposito
	useConfigOnly = true
	email = amanda.sposito@plataformatec.com.br
[core]
	excludesfile = ~/.gitignore
[alias]
	aliases = config --get-regexp alias
	st = status
	ci = commit
	co = checkout
	df = diff
	dfs = diff --staged
	rc = rebase --continue
	ra = rebase --abort
	rs = rebase --skip
	ras = rebase -i --autosquash
	l = log --decorate --graph --oneline --abbrev-commit
	lc = log --decorate --graph --oneline --abbrev-commit --all
	sl = stash list
	wip = stash save --keep-index --include-untracked "wip"
	sp = stash pop
	amend = commit --amend -C head
	fixup = commit --fixup
	co-pr = !sh -c 'git fetch origin pull/$1/head:pr/$1 && git checkout pr/$1' -
[color]
	ui = auto
[color "diff-highlight"]
	oldNormal = bold red
	newNormal = bold green
	oldHighlight = bold black 203
	newHighlight = bold black 83
[color "diff"]
	meta = dim
[github]
	user = amandasposito
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
